<hr>
<div class="jumbotron m-4">
    <h1 class="display-4">Sobre Nosotros</h1>
    <p class="lead">
        Página de aprendizaje para proyecto de programacion 4
    </p>
    <hr class="my-4">
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse possimus porro odio soluta doloribus labore
        neque. Repudiandae facere deserunt fugit nulla earum, iusto aliquam unde dolorem iure accusamus. Debitis, modi!
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Volver a Inicio</a>
</div>
<hr>