<div id="carouselAppGames" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselAppGames" data-slide-to="0" class="active"></li>
        <li data-target="#carouselAppGames" data-slide-to="1"></li>
        <li data-target="#carouselAppGames" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="https://play.google.com/store/apps/details?id=com.telltalegames.batman100&hl=es_CO"
                target="_blank">
                <img class="d-block w-100" height="350" src="./assets/batman.jpg" alt="First slide">
            </a>
        </div>
        <div class="carousel-item">
            <a href="https://na.leagueoflegends.com/es-es/" target="_blank">
                <img class="d-block w-100" height="350" src="./assets/lol.jpg" alt="First slide">
            </a>
        </div>
        <div class="carousel-item">
            <a href="https://playvalorant.com/es-es/?utm_source=riotbar&utm_medium=card4&utm_campaign=val&utm_content=val_jett01"
                target="_blank">
                <img class="d-block w-100" height="350" src="./assets/v.jpg" alt="First slide"></a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselAppGames" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselAppGames" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<hr>
<div class="jumbotron mt-2 mb-4 pt-3 m-4">
    <h1 class="display-4 mt-1 mb-4">Los más vendidos !</h1>
    <div class="row">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="../../../../assets/back2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="../../../../assets/back2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="../../../../assets/back2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="../../../../assets/back2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<hr>

<h1 class="text-center display-3">
    MEJOR JUEGO DEL DÍA
</h1>

<div class="card bg-dark text-white m-5">
    <img src="../../../../assets/back2.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
            This content is a little bit longer.</p>
        <p class="card-text">Last updated 3 mins ago</p>
    </div>
</div>


<hr>

<div class="jumbotron mt-2 mb-4 pt-3 m-4 mb-5">
    <h1 class="display-4 mt-1 mb-4">Hoy GRATIS !</h1>
    <div class="row">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="../../../../assets/back2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="../../../../assets/back2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="../../../../assets/back2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="../../../../assets/back2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<br>
<br>